.user-container, .profile-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-container {
    padding: 3rem;
}
.profile {
    align-content: stretch;
}
.back-to-search{
    color: blue;
    text-decoration: none;

}

.img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}










