* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* overflow: auto; */
}




.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  /* background-color: rgb(154, 154, 124); */
  background: linear-gradient(to bottom right, #9e376c, #60accc);
  color:rgb(231, 216, 216);
  justify-content: space-between ;
  overflow-x: hidden;
}

Link.link {
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(39, 59, 71);
  height:50px;
  box-shadow: 0px 6px 7px rgba(0,0,0,0.6);
  /* margin-top: -2px; */
}




.github {
  text-align: center;
  display: flex;
  align-items: center;
}

.link {
  justify-content: baseline;
  text-decoration: none;
  border: 0px solid red;
  display: flex;
  padding: 8px;
  margin:0;
  padding-top: 14px;

}

footer {
  
  display: flex;
  height: 50px;
  background-color: rgb(39, 59, 71);
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.footer-container {
  justify-self: flex-end;
}

.textInput {
  width:40%;
  height: 30px;
  border: none;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
  color:rgb(255, 255, 255);
}


.nav-contents {
  margin-top: -2px ;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar {
  padding: 0 18px;
}

.link {
  text-align: center;
  font-family: 'Arial', Courier, monospace;
  color:rgb(231, 216, 216);
  font-size: 14px;
}








